$h2Color: #5a7488;
$highlightColor: #0a6fb7;

@media (max-width: 720px) {
  .salary-calculator {
    flex-direction: column;
  }
  .banner {
    order: 1;
        margin: 0 32px;
    border-radius: 32px;
  }
  #root {
    height: auto;
  }
}

.salary-calculator {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  header {
    .h2 {
      color: white;
    }
  }
}


.banner {
  & + div {
    flex: 1;
    padding: 16px;
  }
  .description {
    color: white;
    z-index: 9;
    -webkit-font-smoothing: antialiased;
  }
 img {
   width: 100px;
   right: 16px;
   top: 16px;
   align-self: flex-end;
   z-index: 9;
   padding: 16px 32px;
 }
 .banner-info {
   padding: 16px 32px;
   z-index: 9;
   color: white;
   font-weight: bold;
   font-size: 16px;
   a {
     margin: 16px 0;
     display: inline-block;
     background-color: white;
     padding: 8px;
     border-radius: 32px;
   }
 }
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
  align-items: center;
  background-image: url(./image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: "";
    border-bottom-right-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#59b9ff 0,#108ee9);
    opacity: .8;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;

  label,
  input,
  select {
    flex: 1;
  }

  input,
  select {
    &.input {
      font-size: 20px;
      padding: 4px;
      border: 1px solid $highlightColor;
      background-color: #ffffff;
      border-radius: 4px;
      color: $highlightColor;
      border-bottom: 4px solid $highlightColor;
      outline: 0;
    }
  }
}

.result {
  padding: 16px;
  text-transform: uppercase;
}

.total-cost {
  background-color: $highlightColor;
}

.other-costs {
  background-color: $h2Color;
}
.total-cost,
.other-costs {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  input {
    color: white;
    font-size: 32px;
    font-weight: 600;
    outline: 0;
  }
}

.asterisc,
.asterisc-small {
  font-size: 12px;
  position: relative;
  top: -10px;
}

.asterisc-small {
  top: -4px;
}

.other-costs {
  margin-top: 16px;
  .cost-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px dashed white;
    margin-bottom: 16px;
    font-size: 14px;
    label {
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
  }
  input {
    font-size: 14px;
    text-align: right;
  }
}