$h2Color: #5a7488;
$highlightColor: #0a6fb7;
header {
  padding: 16px;
  .description {
    color: #666;
  }
}

.salary-calculator {
  padding: 16px;
}

.h1 {
  font-size: 28px;
  color: $highlightColor;
  text-transform: uppercase;
}
.h2 {
  font-size: 24px;
  color: $h2Color;
}
h1,
.h2 {
  padding: 8px 0;
  font-weight: 600;
}

input,
select {
  appearance: none;
  border: 0;
  background-color: transparent;
  outline: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;

  label,
  input,
  select {
    flex: 1;
  }

  input,
  select {
    &.input {
      font-size: 24px;
      padding: 8px;
      border: 1px solid $h2Color;
      background-color: #ffffff;
      border-radius: 4px;
      color: $h2Color;
      border-bottom: 4px solid $h2Color;
      outline: 0;
    }
  }
}

label {
  cursor: pointer;
}

.result {
  padding: 16px;
  text-transform: uppercase;
}

.total-cost {
  background-color: $highlightColor;
}

.other-costs {
  background-color: $h2Color;
}
.total-cost,
.other-costs {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  input {
    color: white;
    font-size: 32px;
    font-weight: 600;
    outline: 0;
  }
}

.asterisc, .asterisc-small {
  font-size: 12px;
  position: relative;
  top: -10px;
}

.asterisc-small {
  top: -4px;
}

.other-costs {
  margin-top: 16px;
  .cost-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px dashed white;
    margin-bottom: 16px;
    font-size: 14px;
    span {
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
  }
  input {
    font-size: 14px;
    text-align: right;
  }
}

footer {
  background-color: $highlightColor;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 16px;
  border-radius: 4px;
  a {
    color: white;
  }

  .salary-feedback {
    max-width: 250px;
  }
  img {
    width: 100px;
  }
}