@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

$primaryColor: #fff;
$secondaryColor: #666; 
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  color: $secondaryColor;
}

input, select {
    color: $secondaryColor;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fbfbfb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
