.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  animation: fade 150ms linear;

  .content {
    background-color: white;
    color: black;
    padding: 32px;
    border-radius: 4px;
    margin: 32px;
    max-width: 560px;

    h2{
      font-size: 21px;
      font-weight: 600;
      padding-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
      color: #666;
      padding-bottom: 16px;
    }
  }
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100%;
    }
}